<header class="relative">
    <div class="flex-between h-0 w-0 py-0">
        <nav class="hidden-mobile">
            <ul class="category-tree">
                <li class="category-item">
                    <a href="/kategoria/okulary">Okulary</a>
                    <ul class="subcategory">
                        <li><a href="/kategoria/okulary-dla-dzieci">Okulary dla dzieci</a></li>
                        <li><a href="/kategoria/okulary-przeciwsloneczne">Okulary przeciwsłoneczne</a></li>
                        <li><a href="/kategoria/oprawki-do-okularow">Oprawki do okularów</a></li>
                        <li><a href="/kategoria/okulary-zerowki">Okulary zerówki</a></li>
                        <li><a href="/kategoria/okulary-lustrzanki">Okulary lustrzanki</a></li>
                        <li><a href="/kategoria/nakladki-przeciwsloneczne-na-okulary">Nakładki przeciwsłoneczne na
                                okluary</a></li>
                        <li><a href="/kategoria/okulary-sportowe">Okulary sportowe</a></li>
                        <li><a href="/kategoria/okulary-polaryzacyjne">Okulary polaryzacyjne</a></li>
                        <li><a href="/kategoria/okulary-korekcyjne">Okulary korekcyjne</a></li>
                    </ul>
                </li>
                <li class="category-item">
                    <a href="/kategoria/nakrycia-glowy">Nakrycia głowy</a>
                    <ul class="subcategory">
                        <li><a href="/kategoria/czapki-zimowe">Czapki zimowe</a></li>
                        <li><a href="/kategoria/kapelusze">Kapelusze</a></li>
                        <li><a href="/kategoria/berety-damskie">Berety damskie</a></li>
                        <li><a href="/kategoria/czapki-z-daszkiem">Czapki z daszkiem</a></li>
                    </ul>
                </li>
                <li class="category-item">
                    <a href="/kategoria/dodatki">Dodatki</a>
                    <ul class="subcategory">
                        <li><a href="/kategoria/torebki">Torebki</a></li>
                        <li><a href="/kategoria/nerki-i-saszetki">Nerki i saszetki</a></li>
                        <li><a href="/kategoria/portfele">Portfele</a></li>
                        <li><a href="/kategoria/plecaki">Plecaki</a></li>
                        <li><a href="/kategoria/wlosy-syntetyczne">Włosy syntetyczne</a></li>
                        <li><a href="/kategoria/rekawiczki">Rękawiczki</a></li>
                        <li><a href="/kategoria/szaliki-szale-i-chusty">Szaliki, szale i chusty</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a href="/" id="logo">Zroślin</a>
        <nav class="hidden-mobile">
            <ul class="ul-0">
                <li><a href="/konto" class="flex-center a-icon"><%- include('svg/person') %></a></li>
                <li><a href="/koszyk" class="flex-center a-icon"><%- include('svg/cart') %></a></li>
            </ul>
        </nav>
        <div class="hidden-desktop">
            <input id="burgir-checkbox" class="hidden" type="checkbox">
            <a href="/konto" class="flex-center a-icon"><%- include('svg/person') %></a>
            <a href="/koszyk" class="flex-center a-icon ml-0"><%- include('svg/cart') %></a>
            <label for="burgir-checkbox" id="burgir-checkbox-label" class="flex-center ml-0">
                <%- include('svg/hamburger') %>
            </label>
            <ul class="category-tree-mobile">
                <li class="category-mobile">
                    <input id="category-checkbox-0" class="category-checkbox" type="checkbox">
                    <label for="category-checkbox-0" class="subcategory-toogle-label">
                        <a href="/kategoria/okulary" class="category-link-mobile">Okulary</a>
                        <div class="flex-center">
                            <%- include('svg/arrow-down') %>
                        </div>
                    </label>
                    <ul class="subcategory-mobile">
                        <li><a href="/kategoria/okulary-dla-dzieci">Okulary dla dzieci</a></li>
                        <li><a href="/kategoria/okulary-przeciwsloneczne">Okulary przeciwsłoneczne</a></li>
                        <li><a href="/kategoria/oprawki-do-okularow">Oprawki do okularów</a></li>
                        <li><a href="/kategoria/okulary-zerowki">Okulary zerówki</a></li>
                        <li><a href="/kategoria/okulary-lustrzanki">Okulary lustrzanki</a></li>
                        <li><a href="/kategoria/nakladki-przeciwsloneczne-na-okulary">Nakładki przeciwsłoneczne na
                                okluary</a></li>
                        <li><a href="/kategoria/okulary-sportowe">Okulary sportowe</a></li>
                        <li><a href="/kategoria/okulary-polaryzacyjne">Okulary polaryzacyjne</a></li>
                        <li><a href="/kategoria/okulary-korekcyjne">Okulary korekcyjne</a></li>
                    </ul>
                </li>
                <li class="category-mobile">
                    <input id="category-checkbox-1" class="category-checkbox" type="checkbox">
                    <label for="category-checkbox-1" class="subcategory-toogle-label">
                        <a href="/kategoria/nakrycia-glowy" class="category-link-mobile">Nakrycia głowy</a>

                        <div class="flex-center">
                            <%- include('svg/arrow-down') %>
                        </div>
                    </label>
                    <ul class="subcategory-mobile">
                        <li><a href="/kategoria/czapki-zimowe">Czapki zimowe</a></li>
                        <li><a href="/kategoria/kapelusze">Kapelusze</a></li>
                        <li><a href="/kategoria/berety-damskie">Berety damskie</a></li>
                        <li><a href="/kategoria/czapki-z-daszkiem">Czapki z daszkiem</a></li>
                    </ul>
                </li>
                <li class="category-mobile">
                    <input id="category-checkbox-2" class="category-checkbox" type="checkbox">
                    <label for="category-checkbox-2" class="subcategory-toogle-label">
                        <a href="/kategoria/dodatki" class="category-link-mobile">Dodatki</a>

                        <div class="flex-center">
                            <%- include('svg/arrow-down') %>
                        </div>
                    </label>
                    <ul class="subcategory-mobile">
                        <li><a href="/kategoria/torebki">Torebki</a></li>
                        <li><a href="/kategoria/nerki-i-saszetki">Nerki i saszetki</a></li>
                        <li><a href="/kategoria/portfele">Portfele</a></li>
                        <li><a href="/kategoria/plecaki">Plecaki</a></li>
                        <li><a href="/kategoria/wlosy-syntetyczne">Włosy syntetyczne</a></li>
                        <li><a href="/kategoria/rekawiczki">Rękawiczki</a></li>
                        <li><a href="/kategoria/szaliki-szale-i-chusty">Szaliki, szale i chusty</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>