<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zroślin - l</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <%- include('partials/header') %>

    <main class="w-0 py-0">

        <div class="products-nav py-2">

            <form class="products-search-form" method="GET" action="/produkty">
                <div class="relative">
                    <input id="search-input" class="input-0" type="text" name="q" autocomplete="off" placeholder=" ">
                    <label for="search-input" class="input-label-0">Szukaj produktów</label>
                    <div class="absolute flex-center input-icon">
                        <%- include('partials/svg/search') %>
                    </div>
                </div>

                <div class="relative">
                    <select id="sort-select" class="input-0" required>
                        <option value="alfabetycznie" selected>Alfabetycznie</option>
                        <option value="cena">Cena rosnąco</option>
                        <option value="-cena">Cena malejąco</option>
                    </select>
                    <label for="sort-select" class="input-label-0">Sortowanie</label>
                </div>

                <button type="submit" class="btn-0">Wyszukaj</button>
            </form>

            <% if (subcategories.length !== 0) { %>
                <ul class="products-subcategories">
                    <% for (let i = 0; i < subcategories.length; i++) { %>
                        <li>
                            <a href="/produkty?kategoria=<%= subcategories[i].slug %>"><%= subcategories[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            <% } %>

        </div>


        <div id="products-grid">
            <% for (let i = 0; i < products.length; i++) { %>
                <div class="product-grid-item">
                    <a href="/produkty/<%= products[i].slug %>">
                        <span><%= products[i].name %></span>
                        <div class="product-grid-image-container">
                            <img class="product-grid-image" src="<%= products[i].image %>" alt="<%= products[i].name %>" loading="lazy">
                        </div>
                        <span><%= products[i].price %> zł</span>
                    </a>
                </div>
            <% } %>
        </div>

        <% if (numberOfPages > 1) { %>
            <% var paramsHelper = ""; %>
            <% if (kategoria) { %>
                <% paramsHelper += `kategoria=${kategoria}&`; %>
            <% } %>
            <% if (q) { %>
                <% paramsHelper += `q=${q}&`; %>
            <% } %>
            <% if (sortowanie) { %>
                <% paramsHelper += `sortowanie=${sortowanie}&`; %>
            <% } %>

            <ul id="products-pagination">

                <% if (numberOfPages <= 7) { %>
                    <% for (let i = 1; i <= 7; i++) { %> 
                        <li>
                            <a href="/produkty?<%= paramsHelper %>strona=<%= i %>"><%= i %></a>
                        </li>
                    <% } %> 
                <% } else { %>
                    <li><a href="/produkty?<%= paramsHelper %>strona=1">1</a></li>

                    <% if (strona <= 5 && strona >= 1) { %> 
                        <li><a href="/produkty?<%= paramsHelper %>strona=2">2</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=3">3</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=4">4</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=5">5</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=6">6</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=7">7</a></li>
                        <span>...</span>
                    <% } else if (strona <= numberOfPages - 5 && strona > 5) { %> 
                        <span>...</span>
                        <% for (let i = strona - 2; i <= strona + 2; i++) { %>
                            <li>
                                <a href="/produkty?<%= paramsHelper %>strona=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                        <span>...</span>
                    <% } else { %>
                        <span>...</span>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 6 %>"><%= numberOfPages - 6 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 5 %>"><%= numberOfPages - 5 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 4 %>"><%= numberOfPages - 4 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 3 %>"><%= numberOfPages - 3 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 2 %>"><%= numberOfPages - 2 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 1 %>"><%= numberOfPages - 1 %></a></li>
                    <% } %>
                    <li>
                        <a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages %>"><%= numberOfPages %></a>
                    </li>
                <% } %>

            </ul>            
        <% } %>

    </main>

    <%- include('partials/footer') %>
</body>

</html>