<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zroślin - l</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <%- include('partials/header') %>

    <main class="w-0 py-0">

        <div class="products-nav" style="padding: 1rem 0;">

            <form class="products-search-form" method="GET" action="/produkty">

                <div class="relative">
                    <input id="search-input" class="input-0" type="text" name="q" autocomplete="off" placeholder=" " <% if (q) { %>value="<%= q %>"<% } %>>
                    <label for="search-input" class="input-label-0">Szukaj produktów</label>
                    <div class="absolute flex-center input-icon">
                        <%- include('partials/svg/search') %>
                    </div>
                </div>

                <div class="relative">
                    <select id="sort-select" class="input-0" name="sortowanie" required>
                        <option value="alfabetycznie" <% if (!sortowanie) { %>selected<% } %>>Alfabetycznie</option>
                        <option value="cena" <% if (sortowanie === 'cena') { %>selected<% } %>>Cena rosnąco</option>
                        <option value="-cena" <% if (sortowanie === '-cena') { %>selected<% } %>>Cena malejąco</option>
                    </select>
                    <label for="sort-select" class="input-label-0">Sortowanie</label>
                </div>

                <% if (kategoria) { %> 
                    <input type="text" class="hidden" name="kategoria" value="<%= kategoria %>">
                <% } %> 

                <button type="submit" class="btn-0">Wyszukaj</button>

            </form>

            <% if (subcategories.length !== 0) { %>
                <ul class="products-subcategories">
                    <% for (let i = 0; i < subcategories.length; i++) { %>
                        <li>
                            <a href="/produkty?kategoria=<%= subcategories[i].slug %><% if (sortowanie) { %>&sortowanie=<%= sortowanie %> <% } %>"><%= subcategories[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            <% } %>

        </div>

        <% if (products.length === 0) { %> 
            <p>Nie znaleziono produktów dla frazy "<%= q %>".</p>
        <% } else { %> 
            <div id="products-grid">
                <% for (let i = 0; i < products.length; i++) { %>
                    <div class="product-grid-item relative">
                        <a href="/produkty/<%= products[i].slug %>" class="product-grid-image-container">
                            <img class="product-grid-image" src="<%= products[i].image %>" alt="Zdjęcie produktu '<%= products[i].name %>'" loading="lazy">
                        </a>
                        <div class="product-info-container">
                            <a href="/produkty/<%= products[i].slug %>" class="product-title"><%= products[i].name %></a>
                        </div>
                        <span class="product-price"><%= products[i].price %> zł</span>

                        <form method="POST" action="/koszyk/<%= products[i].slug %>" class="product-add-to-cart">
                            <input type="number" name="ilosc" value="1" class="hidden">
                            <button type="submit">dodaj do koszyk</button>
                        </form>

                    </div>
                <% } %>
            </div>
        <% } %> 


        <% if (numberOfPages > 1) { %>
            <% var paramsHelper = ""; %>
            <% if (kategoria) { %>
                <% paramsHelper += `kategoria=${kategoria}&`; %>
            <% } %>
            <% if (q) { %>
                <% paramsHelper += `q=${q}&`; %>
            <% } %>
            <% if (sortowanie) { %>
                <% paramsHelper += `sortowanie=${sortowanie}&`; %>
            <% } %>

            <ul id="products-pagination">

                <% if (numberOfPages <= 7) { %>
                    <% for (let i = 1; i <= 7; i++) { %> 
                        <li>
                            <a href="/produkty?<%= paramsHelper %>strona=<%= i %>"><%= i %></a>
                        </li>
                    <% } %> 
                <% } else { %>
                    <li><a href="/produkty?<%= paramsHelper %>strona=1">1</a></li>

                    <% if (strona <= 5 && strona >= 1) { %> 
                        <li><a href="/produkty?<%= paramsHelper %>strona=2">2</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=3">3</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=4">4</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=5">5</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=6">6</a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=7">7</a></li>
                        <span>...</span>
                    <% } else if (strona <= numberOfPages - 5 && strona > 5) { %> 
                        <span>...</span>
                        <% for (let i = strona - 2; i <= strona + 2; i++) { %>
                            <li>
                                <a href="/produkty?<%= paramsHelper %>strona=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                        <span>...</span>
                    <% } else { %>
                        <span>...</span>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 6 %>"><%= numberOfPages - 6 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 5 %>"><%= numberOfPages - 5 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 4 %>"><%= numberOfPages - 4 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 3 %>"><%= numberOfPages - 3 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 2 %>"><%= numberOfPages - 2 %></a></li>
                        <li><a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages - 1 %>"><%= numberOfPages - 1 %></a></li>
                    <% } %>
                    <li>
                        <a href="/produkty?<%= paramsHelper %>strona=<%= numberOfPages %>"><%= numberOfPages %></a>
                    </li>
                <% } %>

            </ul>            
        <% } %>

    </main>

    <%- include('partials/footer') %>
</body>

</html>